// footer section
.footer {
  background-color: $bg2;
  position: relative;
  &.footer-two {
    background-color: $bg1;
    form {
      background-color: $bg1;
      max-width: 420px;
      width: 100%;
    }
    .logo {
      margin-bottom: 20px;
      @include screen(md) {
        margin-bottom: 40px;
      }
    }
    .footer-two-inner{
      max-width: 1752px;
      margin: 0 auto;
      @media (min-width:768px){
        padding: 0 12px;
      }
      .footer-card{
        @media (min-width:768px){
          border-right: 1px solid rgba(16, 39, 29, 0.20);
        }
      }
    }  
  }
  &.footer-three {
    padding-top: 60px;
    @include screen(xl) {
      padding-top: 110px;
    }
    @include screen(xl) {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 25%;
        @include screen(3xl) {
          width: 30%;
        }
        background-color: $n0;
      }
    }
    .logo {
      margin-bottom: 20px;
      @include screen(md) {
        margin-bottom: 40px;
      }
    }
    form {
      button {
        height: 40px;
        width: 40px;
        font-size: 1.5rem;
        @include screen(lg) {
          height: 52px;
          width: 52px;
          font-size: 2rem;
        }
      }
    }
    a,
    p {
      color: $n0;
      @include screen(xl) {
        color: $n800;
      }
    }
  }
  .cta {
    padding: 30px;
    @include screen(sm) {
      padding: 40px;
    }
    @include screen(lg) {
      padding: 80px;
    }
    @include screen(xxl) {
      padding: 120px 110px;
      background-image: url(/images/cta-2.webp);
    }
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $primary;
    .cta-content {
      max-width: 636px;
    }
    margin-bottom: 60px;
    @include screen(xl) {
      margin-top: -220px;
      margin-bottom: 120px;
    }
  }
  .contact-two {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 0;
    .contact-item {
      display: flex;
      align-items: center;
      gap: 20px;
      a,p{
        color: $n500;
      }
    }
    .contact-icon {
      border: 1px solid rgba(48, 88, 76, 0.20);
      color: $secondary2;
      width: 40px;
      height: 40px;
      font-size: 1.5rem;
      cursor: pointer;
      transition-duration: 300ms;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover{
        background: $primary;
      }     
    }
  }
  .quick-link {
    li > a {
      color: $n0;
      transition: all 400ms ease-in-out;
      &:hover {
        color: $n500;
        margin-left: 8px;
      }
    }
  }
  .rotate-text {
    animation: rotate 10s linear infinite;
  }
  .navigate-part {
    padding: 0 12px 40px;
    @include screen(lg) {
      padding-bottom: 40px;
      padding-left: 40px;
    }
    @include screen(xxl) {
      padding-bottom: 110px;
      padding-left: 80px;
    }
    .top{
      padding-bottom: 40px;
      @include screen(lg) {
        padding-bottom: 60px;
      }
      @include screen(xl) {
        padding-bottom: 100px;
      }
    }
    .navigation-links {
      padding-left: 0;
      gap: 20px;
      margin-bottom: 0;
      list-style-type: none;
      li{
        a {
         margin-bottom: 12px;
         display: inline-block;
         color: $n500;        
         &:hover {
           color: $secondary;
         }
       }
      }
    }
  }
  .copyright-two {
    padding: 24px 0;
    @include screen(md) {
      padding: 32px 0;
    }
    border-top: 1px solid rgba(16, 39, 29, 0.20);  
    ul li a{
      color: $n700;
    }
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}