body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  background-color: $n0;
  color: $bg2;
  line-height: 125%;
  @media (min-width: 1200px) {
    font-size: 16px;
  }
}
a {
  text-decoration: none;
  transition: all 400ms ease;
  &:hover{
    color: $primary;
  }
}
p,
span {
  margin-bottom: 0;
  line-height: 150%;
  color: $n500;
}
button{
  border: none;
  background-color: transparent;
  &:focus {
    outline: none;
  }
}
input,
textarea {
  &:focus {
    outline: none;
  }
}
.text-n20 {
  color: $n20;
}
.text-bg2 {
  color: $bg2;
}
.text-n100 {
  color: $n100;
}
.text-n500{
  color: $n500;
}
.text-n700 {
  color: $n700;
}
.display-1 {
  font-size: 40px;
  font-weight: 600;
}
.display-2 {
  font-size: 36px;
  font-weight: 600;
}
.display-3 {
  font-size: 34px;
  font-weight: 600;
}
.display-4 {
  font-size: 32px;
  font-weight: 600;
}
.content {
  position: relative;
  z-index: 2;
}
.max-w-full {
  max-width: 100% !important;
}
h1 {
  font-size: 28px;
  font-weight: bold;
  line-height: 130%;
}
h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
}
h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 130%;
}
h4 {
  font-size: 18px;
  font-weight: 600;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}
h1,h2,h3,h4,h5,h6{
  color: $n700;
  font-weight: 600;
}
.text-n20 {
  color: $n20;
}
.text-n40 {
  color: $n40;
}
.xl-text {
  font-size: 18px;
}
.text-sm {
  font-size: 14px;
}
.text-lg {
  font-size: 18px;
}
.text-secondary2{
  color: $secondary2;
}
.text-secondary3{
  color: $secondary3;
}
.bg1{
  background-color: $bg1;
}
.pb-200 {
  @media (min-width: 1200px) {
    padding-bottom: 200px !important;
  }
}


@media (min-width: 768px) {
  .display-1 {
    font-size: 50px;
    font-weight: 600;
  }
  .display-2 {
    font-size: 52px;
    font-weight: 600;
  }
  .display-3 {
    font-size: 48px;
    font-weight: 600;
  }
  .display-4 {
    font-size: 40px;
    font-weight: 600;
  }
  h1 {
    font-size: 48px;
    font-weight: 600;
  }
  h2 {
    font-size: 36px;
    font-weight: 600;
  }
  h3 {
    font-size: 28px;
    font-weight: 600;
  }
  h4 {
    font-size: 22px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 16px;
  }
}
@media (min-width: 1400px) {
  .display-1 {
    font-size: 80px;
    font-weight: 600;
  }
  .display-2 {
    font-size: 72px;
    font-weight: 600;
  }
  .display-3 {
    font-size: 64px;
    font-weight: 600;
  }
  .display-4 {
    font-size: 56px;
    font-weight: 600;
  }
  h1 {
    font-size: 56px;
    font-weight: 600;
  }
  h2 {
    font-size: 40px;
    font-weight: 600;
  }
  h3 {
    font-size: 32px;
    font-weight: 600;
  }
  h4 {
    font-size: 24px;
  }
  h5 {
    font-size: 20px;
  }
  h6 {
    font-size: 16px;
  }
  .xl-text {
    font-size: 20px;
  }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}
