.faqs-page {
  background-color: $bg1;
}
.accordion-item {
  border: none;
  background-color: $primary;
  box-shadow: none;
  &:focus {
    box-shadow: none;
  }
  &.bg1 {
    .accordion-button.collapsed {
      background-color: $bg1;
      &::after {
        background-color: $primary;
      }
    }
    .accordion-button:not(.collapsed) {
      &::after {
        background-color: $bg2;
        border-color: $bg2;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-minus' width='28' height='28' viewBox='0 0 24 24' stroke-width='1' stroke='%23FFFFFF' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M5 12l14 0' /%3E%3C/svg%3E");
      }
    }
  }
}

.accordion-item:first-of-type {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: none;
}
.accordion-item:last-of-type {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: none;
}
.accordion-item:first-of-type .accordion-button.collapsed {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.accordion-button:not(.collapsed) {
  background-color: $primary;
  color: $n700;
  box-shadow: none;   
  &::after {
    background-color: $bg1;
    border: 1px solid $n40;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-minus' width='28' height='28' viewBox='0 0 24 24' stroke-width='1' stroke='%23000000' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M5 12l14 0' /%3E%3C/svg%3E");
  }
}

.accordion-button.collapsed::after {
  background-color: $bg1;
  border: 1px solid $n40;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-plus' width='28' height='28' viewBox='0 0 24 24' stroke-width='1' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 5l0 14' /%3E%3Cpath d='M5 12l14 0' /%3E%3C/svg%3E");
}
.accordion-body {
  p {
    border-top: 1px dashed $n200;
    padding-top: 12px;
    margin-bottom: 0;
  }
  padding: 0 12px 12px;
  @include screen(lg) {
    padding: 0 32px 12px;
  }
}
.accordion-button {
  background-color: $n0;
  color: $n700;
  padding: 12px;
  line-height: 130%;
  @include screen(lg) {
    padding: 12px 32px;
    font-size: 18px;
  }
  font-weight: 500;
  &:focus {
    box-shadow: none;
  }
  &::after {
    transform: none !important;
  }
}
