.features-6 {
  background-color: $bg1;
  .exp-img {
    position: relative;
    .exp-info {
      position: absolute;
      bottom: 20px;
      right: 0;
      background-color: $n0;
      text-align: center;
      padding: 16px;
      p {
        font-size: 18px;
        font-weight: 500;
      }
    }
    @media (min-width: 1600px) {
      transform: translateX(-120px);
      .exp-info {
        right: -60px;
        padding: 20px 24px;
        bottom: 40px;
      }
    }
  }
  @media (min-width: 768px) {
    .about-info-1 {
      border-right: 1px dashed rgba($color: $secondary2, $alpha: 0.4);
    }
  }
}

// recent project 6
.recent-projects6 {
  background-color: $n0;
  .section-title {
    max-width: 636px;
    margin: 0 auto 40px;
    text-align: center;
    @media (min-width: 1200px) {
      margin: 0 auto 60px;
    }
  }
  .project-card {
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
    }
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(16, 39, 29, 0) 0%, rgba(16, 39, 29, 0.1) 40.5%, rgba(16, 39, 29, 0.2) 48.53%, rgba(16, 39, 29, 0.4) 57.88%, rgba(16, 39, 29, 0.6) 70.98%, rgba(16, 39, 29, 0.8) 100%);
    }
    .info {
      transition-duration: 300ms;
      position: absolute;
      inset: 0;
      display: flex;
      z-index: 2;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      padding: 20px;
      @media (min-width: 1200px) {
        padding: 32px;
      }
      a {
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        color: $primary;
        background-color: $bg2;
        transition-duration: 300ms;
        opacity: 0;
      }
      p {
        color: $primary;
        transition-duration: 300ms;
      }
      h4 {
        color: $n0;
        transition-duration: 300ms;
      }
    }
    &:hover {
      .info {
        background-color: rgba($color: $primary, $alpha: 0.8);
        a {
          opacity: 1;
        }
        p,
        h4 {
          color: $n700;
        }
      }
    }
  }
}

// testimonial 6
.testimonial-6 {
  background-color: $n0;
  @media (min-width: 1650px) {
    .image img {
      display: none;
    }
    background-image: url(/images/testimonial-bg-6.webp);
    background-position: right top;
    background-repeat: no-repeat;
  }
  @media (min-width: 1800px) {
    .play-btn {
      left: 65%;
    }
  }
  .title {
    text-align: center;
    margin-bottom: 40px;
    @media (min-width: 1200px) {
      margin-bottom: 60px;
    }
  }
  .slider {
    position: relative;
    .testimonial-card-6 {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      .stars {
        color: #ffcc00;
      }
    }
    .btns {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 3;
    }
  }
  .image {
    position: relative;
    @media (min-width: 1400px) {
      transform: translateX(50px);
    }
    @media (min-width: 1600px) {
      transform: translateX(120px);
    }
  }
}

.brand-slide {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  max-width: max-content;
}

.testimonial-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: left;
}

.banner-six {
  position: relative;
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(90deg, rgba(16, 39, 29, 0.513) 0%, rgba(16, 39, 29, 0.14) 45.61%, rgba(16, 39, 29, 0.135) 76.6%, rgba(16, 39, 29, 0.436) 100%);
  }

  .banner-content {
    position: relative;
    z-index: 8;
    padding: 70px 0;
    @media (min-width: 768px) {
      padding: 90px 0;
    }
    @media (min-width: 1200px) {
      padding: 155px 0 250px;
    }
    @media (min-width: 1600px) {
      padding: 155px 0 280px;
    }
  }
  .hero-text {
    font-weight: 600;
    text-transform: uppercase;
    color: $n0;
    font-size: 12vw;  
    @media (min-width: 580px) {
      font-size: 10vw;
    }
    @media (min-width: 670px) {
      font-size: 8vw;
    }
    @media (min-width: 768px) {
      font-size: 72px;
    }
    @media (min-width: 992px) {
      font-size: 90px;
    }
    @media (min-width: 1200px) {
      font-size: 100px;
    }
    @media (min-width: 1400px) {
      font-size: 85px;
    }
  }
  p {
    color: $n20;
  }
  .circular-text-big {
    flex-shrink: 0;
    position: relative;
    border-radius: 9999px; /* rounded-full */
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary;
    height: 120px;
    width: 120px;
    p {
      width: 102px;
      height: 102px;
      position: relative;
      font-size: 12px; /* text-xs */
      letter-spacing: 0.07em; /* tracking-wide */
      animation: effect 8s linear infinite;
    }
    span {
      position: absolute;
      left: 50%;
      text-transform: uppercase;
      font-weight: 600; /* font-semibold */
      color: $n700; /* text-neutral-0 */
      transform-origin: 0px 52px;
      transform-style: flat;
    }
    .inner {
      width: 54px;
      height: 54px;
      position: absolute;
      border: 1px solid $n700;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        width: 32px;
        height: 32px;
        border: none;
        color: $primary;
        border-radius: 100%;
        background-color: $n700;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  @keyframes effect {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  &.banner-6{
    .banner-content{
      padding-top: 150px;
      padding-bottom: 80px;
      @media (min-width: 992px) {
        padding-top: 280px;
        padding-bottom: 120px;
      }
      @media (min-width: 992px) {
        padding-top: 300px;
        padding-bottom: 120px;
      }
      @media (min-width: 1200px) {
        padding-top: 450px;
        padding-bottom: 120px;
      }
      @media (min-width: 1400px) {
        padding-top: 540px;
      }
      .hero-6-text{
        color: $n0;
        font-size: 40px;
        @media (min-width: 768px) {
          font-size: 60px;
        }
        @media (min-width: 992px) {
          font-size: 80px;
        }
        @media (min-width: 1400px) {
          font-size: 100px;
        }
      }
    }
  }
  .vertical{
    -webkit-text-stroke: 1px $primary;
    opacity: .5;

     @media (min-width: 1400px) {
    font-size: 40px;
  }
  }
}