.products-page{
    background-color: $bg1;
}
@media (max-width:1199px){
  .product-filter{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    border-right: 1px solid $n40;
    background-color: $n0;
    z-index: 99;
    width: 320px;
    height: 100%;
    overflow-y: auto;
    transition-duration: 300ms;
    transform: translateX(-100%);
    &.active{
      transform: translateX(0);
    }
  }
  .filter-btn{
    padding: 12px 20px;
    border: 1px solid $n500;
    font-size: 18px;
  }
  .filter-close{
    position: absolute;
    top: 16px;
    right: 12px;
    font-size: 18px;
    color: $n500;
    cursor: pointer;
  }
}

.range-slider {
  --primary-color:#000;
  --thumb-size: 18px; 
  --show-min-max:none; 
  min-width: 100%;
  input{
    min-width: 100%;
    &.range-slider__progress{
      min-width: 100%;
    }
  }
}

.form-check-input:focus, .form-control:focus{
  box-shadow: none;
}
/* Change the background color when checked */
.form-check-input:checked {
  background-color: $bg2; 
  border-color: $bg2; 
}

/* Change the color of the checkmark */
.form-check-input:checked::before {
  background-color: #ffffff; 
}
.form-check-input{
  transition-duration: 300ms;
}
/* Add hover effect */
.form-check-input:hover {
  border-color: $n100; 
}

.text-yellow{
  color: #FFCC00;
}

.tag{
  border: 1px solid $n40;
  padding: 8px 20px;
  font-size: 14px;
  color: $n500;
  transition-duration: 300ms;
  background-color: $bg1;
  &.round{
    border-radius: 32px;
    background-color: $n0;
    border: 1px solid $n30;
  }
  &:hover{
    background-color: $primary;
    color: $n700;
  }
}
.reset{
  width: 100%;
  padding: 12px 20px;
  border: 1px solid $n500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition-duration: 300ms;
  &:hover{
    color: $n0;
    background-color: $n900;
  }
}

// product details
.product-details-img{
  background-color: $bg1;
  min-width: 220px;
  @media (max-width:767px){
    width: 100%;
  }
}

.bb-dashed-32{
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px dashed $n40;
  @media (min-width: 1400px) {
    padding-bottom: 32px !important;
    margin-bottom: 32px !important;
  }
}
.bb-dashed-24{
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px dashed $n50;
  @media (min-width: 1400px) {
    padding-bottom: 24px !important;
    margin-bottom: 24px !important;
  }
}
.product-details-left{
  padding: 12px;
  background-color: $n0;
  @media (min-width: 1200px) {
    padding: 20px;
  }
  @media (min-width: 1400px) {
    padding: 32px;
  }
}
.rating-info{
  display: flex;
  gap: 20px;
  flex-direction: column;
  @media (min-width:580px){
    flex-direction: row;
    .rating-box{
      padding: 24px 45px;
    }
  }
  .rating-box{
    background-color: #FC0;
    padding: 24px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .rating-progress{
    width: 100%;
    height: 12px;
    background-color: $bg1;
    flex: 1;
    .inner{
      height: 100%;
      background-color: #FC0;
      width: attr(data-width);
    }
  }
}

.review-card{
  background-color: $bg1;
  padding: 16px;
  @media (min-width: 1200px) {
    padding: 24px;
  } 
}

.review-form{
  input,textarea{
    padding: 12px 24px;
    width: 100%;
    background-color: $n20;
    border: 1px solid $n60;
    display: flex;
    margin-bottom: 16px;
    @media (min-width: 1200px) {
      margin-bottom: 24px;
    }
  }
}

.quantity{
  background-color: $bg1;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  input{
    width: 40px;
    background-color: transparent;
    border: none;
    text-align: center;
  }
  button{
    width: 40px;
    height: 40px;
    background-color: $primary;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $bg2;
    font-size: 24px;
    transition-duration: 300ms;
    &.white{
      color: $bg2;
      background-color: $n0;
    }
    &:hover{
      color: $primary;
      background-color: $bg2;
    }
  }
}

.price-list{
  padding: 12px 0;
  border-top: 1px dashed $n40;
  border-bottom: 1px dashed $n40;
}
.buy-now{
  width: 100%;
  padding: 12px 20px;
  background-color: $primary;
  color: $n700;
  font-weight: 600;
}
.cart-btn{
  width: 44px;
  height: 44px;
  border: 1px solid $secondary2;
  color: $secondary2;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 300ms;
  &:hover{
    color: $n0;
    background-color: $secondary2;
  }
}

.coupon-input{
  width: 100%;
  padding: 4px;
  display: flex;
  align-items: center;
  border: 1px solid $n30;
  input{
    width: 100%;
    border: none;
    padding-left: 12px;
  }
  button{
    width: 40px;
    flex-shrink: 0;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: $primary;
  }
}

// cart table
.cart-table{
  width: 100%;
  thead th{
    background-color: $bg1;
    padding: 16px 20px;
  }
  tbody td{
    padding: 16px 20px;
    white-space: nowrap;
  }
  tbody tr{
    border-bottom: 1px dashed $n40;
    &:last-child{
      border-bottom: none;
    }
  }
  .product-img{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: 1px solid $n40;
    img{
      width: auto;
      height: auto;
      object-position: center;
      object-fit: cover;
    }
  }
  .available{
    color: $n80;
    margin-top: 6px;
    font-size: 12px;
  }
}

// shipping address
.address-card{
  padding: 16px;
  background-color: $bg1;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
  @media (min-width: 768px) {
    flex-wrap: nowrap;
  }
  @media (min-width: 1200px) {
    padding: 24px;
  }
  @media (min-width: 1400px) {
    padding: 32px;
  }
}

// delivery card
.delivery-card{
  cursor: pointer;
  padding: 16px;
  background-color: $n0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @media (min-width: 1200px) {
    padding: 24px;
  }
  @media (min-width: 1400px) {
    padding: 32px;
  }
  transition-duration: 300ms;
  border: 1px solid $n40;
  &.active{
    border-color: $secondary2;
  }
}

.rating i {
  color: #ffc107; /* Default star color */
  cursor: pointer;
  transition: color 0.3s;
}

.rating i.ti-start-filled {
  color: #ffc107; /* Star color when filled (yellow) */
}

.current-rating {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px;
}