.page-banner {
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.5); 
  }  
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  object-position: center;
  background-position: center;
  padding-top: 50px;
  @media (min-width: 992px) {
    padding-top: 90px;
  }
  .banner-content {
    padding: 60px 12px;
    @include screen(xl) {
      padding: 120px 0;   
    }
  }
}

// services section
.all-services {
  background-color: $bg1;
  padding: 60px 0;
  @include screen(xl) {
    padding: 120px 0;
  }
}
.pagination {
  flex-wrap: wrap;
  li > a {
    border: 1px solid $secondary;
    height: 32px;
    width: 32px;
    @include screen(md) {
      height: 40px;
      width: 40px;
    }
    color: $bg2;
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    transition: all 400ms ease;
    i {
      font-weight: 600;
    }
    &:hover, &.active {
      background-color: $primary;
      color: $bg2;
    }
  }
}
