.service-details {
  background-color: $bg1;
  @media (max-width: 1199px) {
    overflow-x: hidden !important;
  }
  p {
    color: $n500;
  }
  .details-left {
    padding: 12px;
    background-color: $n0;
    z-index: 2;
    position: relative; 
    .details-content {
      padding-bottom: 12px;
      @include screen(sm) {
        padding: 12px;
      }
      @include screen(lg) {
        padding: 48px 20px 32px;
      }
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-bottom: 16px;
      }
      p {
        margin-bottom: 18px;
        @include screen(xl) {
          margin-bottom: 32px;
        }
      }
      .tag {
        display: inline-block;
        padding: 12px 16px;
        background-color: $bg1;
        color: $n700;
        font-weight: 600;
      }
    }
  }
}
.details-bottom {
  margin: 0;
  margin-top: 20px;
  padding-top: 8px;
}
.details-faq {
  margin-top: 24px;
  padding: 16px;
  @include screen(md) {
    padding: 32px;
    margin-top: 40px;
  }
  background-color: $n0;
 
}

.white-box {
  background-color: $n0;
  margin-bottom: 24px;
  padding: 16px;
  @include screen(xl) {
    box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.04);
    padding: 24px;
  }
  form {
    background-color: $bg1;
    width: 100%;
    padding: 12px 20px;
    color: $n700;
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid $bg1;
    justify-content: space-between;
    &:focus-within {
      border: 1px solid $primary;
    }
    &.n0{
      border-color: $n40;
      background-color: $n0;
    }
    input {
      border: none;
      color: $n700;
      width: 50%;
      @include screen(md) {
        width: 100%;
      }
      background-color: transparent;
      &:focus {
        outline: none;
      }
    }
    i {
      flex-shrink: 0;
    }
  }
  .category-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style-type: none;
    li > a {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 8px 12px;
      @media (min-width: 1400px) {
        padding: 12px 20px;
      }
      background-color: $bg1;
      border: 1px solid $bg1;
      transition: all 400ms ease;
      color: $n700;
      &:hover {
        background-color: $n0;
        border-color: $secondary2;      
      }
      .img-wrapper {
        height: 44px;
        width: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    span {
      @include screen(md) {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
  .cta {
    background-image: url(/images/CTA.png);
    background-size: cover;
    padding: 20px;
    text-align: center;
    @include screen(md) {
      padding: 40px 32px;
    }
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(16, 39, 29, 0.70);
      z-index: 1;
    }
    a {
      display: inline-flex;
      padding: 16px 24px;
      background-color: $primary;
      color: $n700;
      align-items: center;
      gap: 10px;
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}
